* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1d1d1d;
}
.form-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff1f;
}
.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #ffffff1f;
    font-family: Arial, Helvetica, sans-serif;
}
.form-title-1 {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    background-color: #cacaca0e;
    color: #d8d8d8;
    padding: 1em 0;
    margin: 1em 0;
}
.form-input {
    background-color: #ffffff0c;
    border: none;
    color: #fafafa;
    font-size: 1.2rem;
    width: 100%;
    height: 45px;
    padding: 1em .5em;
    border-radius: 6px;
    transition: 1s;
}
.form-input:focus {
    outline: none;
    background-color: #ffffff2d;
}
.form-input:hover {
    background-color: #ffffff2d;
}
.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding: 0 1em;
    width: 40%;
    max-width: 90%;
    margin: .5em 0;
}
.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.input-placeholder {
    color: #fdfdfd;
    padding: .5em 0;
}
.hidden {
    display: none;
}
.form-select {
    width: 150px;
    height: 30px;
    padding: 0 3%;
}
.warn {
    color: #f83333;
    padding: 0 5px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #f83333;
    border-radius: 3px;
}
.btn-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.btn {
    background-color: #fafafa9c;
    padding: .6em;
    margin: 0 .4em;
    border-radius: 3px;
    cursor: pointer;
}
.btn-confirm {
    color: #fafafa;
    transition: 1s;
    background-color: #16990dbb;
    border: 1px solid #00000000;
    
}
.btn-confirm:hover {
    background-color: #16990d;
    border: 1px solid #16990d;
}
.btn-warn {
    color: #fafafa;
    transition: 1s;
    border: 1px solid #00000000;
    background-color: rgb(163, 65, 35);
}
.btn-warn:hover {
    border: 1px solid #f83333;
    background-color: #f83333;
}
#doc1 {
    display: none;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 5% 0;
}
#doc2 {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 5% 0;
}